@import 'src/index.scss';

.skeleton-post {
    margin: 70px 0 0;
    width: 830px;
    height: 350px;
    // border: 2px solid #B6B6B6;
    border-radius: 8px;
    background: linear-gradient(132deg, #B6B6B6 0%, #FFF 100%);
}