@import 'src/index.scss';

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 70px 0 0;
    max-width: 1340px;

    @media screen and (max-width: 545px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    .filters__search {
        background-color: #EBEBEB;
        border: none;
        outline: none;
        padding: 10px;
        border: 1px solid #B6B6B6;
        border-radius: 8px;
        color: #000000;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 500;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .filters__label {
        background-color: #EBEBEB;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 8px;
        color: #000000;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 500;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background: $gradient;
        margin: 0 10px 0 0;
        font: inherit;
        color: $dark;
        width: 1.15em;
        height: 1.15em;
        border: none;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }

    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        background-color: $white;
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }

    input[type="checkbox"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }
}