@import '/src/index.scss';

.page {
    max-width: 1650px;
    margin: 70px auto 70px;
    background-color: $white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}